<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Diary</title>

    <style>
        html {
            font-size: 14px;
        }
        label {
            font-weight: 700;
            display: block;
        }
        textarea:focus, input:focus{
            outline: none;
            border: none;
        }
        *:focus {
            outline: none;
        }
        .form-control:focus {
            border-color: inherit;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .form-group {
            border-bottom-width: 1px;
            border-color: #e9ecef;
            padding-top: 1rem;
            padding-bottom: .5rem;
            color: #22292f;
            border-bottom: 1px solid #e9ecef;
        }
        .form-control {
            border: none;
            transition: background-color 5000s ease-in-out 0s;
            margin-top: .75rem;
            font-size: 100%;
            line-height: 1.15; margin-left: -10px;
        }
        .remove-form-group-border {
            border-bottom: 1px solid white;
        }
        body {
            background: #f7f6f4;
        }
        a {
            text-decoration: none;
        }
        .brand {
            text-decoration: none;
        }
        .brand > span {
            color: #633dff; font-size: 25px;
        }
        .btn {
            background: #633dff; color: white; border-color: #633dff
        }
        .btn:hover {
            color: white;
        }
    </style>
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>