{% if user.is_authenticated %}
    <strong>{{ user.username }}</strong>, focus on your writing!
    <br>
    <a href="{% url 'logout' %}" class="btn btn-danger mt-5">Logout here</a>
{% else %}
    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
{% endif %}